*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  min-height: 80px;
  max-height: auto;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: #3c3b3b;
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: #353535;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #727272;
}

.operator-btn {
  background-color: orange;
}

.operator-btn:hover {
  background-color: rgb(253, 202, 106);
}
